<nav class="custom-navbar">
  <div class="nav-container">
  
  <!-- Site title / brand -->
  <a href="index.html" class="navbar-title">Uncommon Sense</a>
  
    <!-- Left-aligned dropdown menus -->
    <ul class="nav-left">
      <li class="dropdown">
        <button class="dropbtn">Dropdown 1</button>
        <ul class="dropdown-content">
          <li><a href="#">Item 1A</a></li>
          <li><a href="#">Item 1B</a></li>
          <li><a href="#">Item 1C</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <button class="dropbtn">Dropdown 2</button>
        <ul class="dropdown-content">
          <li><a href="#">Item 2A</a></li>
          <li><a href="#">Item 2B</a></li>
        </ul>
      </li>
    </ul>

    <!-- Right-aligned "More" dropdown -->
    <ul class="nav-right">
      <li class="dropdown">
        <button class="dropbtn">More</button>
        <ul class="dropdown-content dropdown-right">
          <li><a href="archive.html">Archive</a></li>
          <li><a href="feed.html">Feed</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
