/*-- scss:defaults --*/
$h1-font-size:          10.6rem !default;
$h2-font-size:          1.6rem !default;
$headings-font-weight:  0 !default;

$body-bg: black;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}