body {
    margin: 0;
    padding: 0;

    a {
        color: #5D7E6A; /* Sets the text color for links */
        font-weight: bold; /* Makes the link text bold */

        /* Additional styles */
        text-decoration: none; /* Removes the underline from links */
        transition: all 0.3s ease; /* Adds a smooth transition effect to all CSS properties when hovering or focusing on the link */

        &:hover { /* Styles applied when the user mouses over the link */
            color: #2e4d37; /* Changes the text color to a darker shade on hover */
        }

        &:active, &:focus { /* Styles applied when the link is being clicked or focused */
            outline: none; /* Removes the default focus outline for better accessibility */
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        font-size: 20px; /* Default text size */
    }

    /* Additional styles for headers */
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5, h6 {
        font-size: 20px;
    }

    /* Additional styles for paragraphs */
    p {
        line-height: 1.5; /* Adds some space between lines of text */
        margin-bottom: 20px; /* Adds some spacing below each paragraph */
    }
}