body {
    margin: 0;
    background-color: #dfe5e1; /* Set background color */
    font-family: 'Arial', sans-serif; /* Set font family for entire body */
    display: flex; /* Add this line to use Flexbox layout */
    flex-direction: column; /* Align items in a column */
    min-height: 100vh; /* Set minimum height equal to viewport height */
    padding: 0; /* Remove default padding */
    padding-top:100px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5D7E6A;
    color: #dfe5e1;
    height: 50px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;

.link-container {
    display: flex;
    justify-content: space-between; /* Evenly distribute the links */
}

}
    
footer {
    background-color: #5D7E6A;
    padding-bottom: 35px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: #dfe5e1;
    text-align: center;
    /* By default, footer will stick to the bottom due to Flexbox layout. */
}

a {
    color: #5D7E6A; /* Sets the text color for links */
    font-weight: bold; /* Makes the link text bold */

    /* Additional styles */
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover { 
        color: #2e4d37; /* Changes the text color to a darker shade on hover */
    }

    &:active, &:focus {
        outline: none; 
    }
}

/* Headers and Paragraphs */

h1{ /*Page Titles & Section headers*/
    font-size: 24px;
    margin: 20px; /* Adds some spacing below each paragraph */
    margin-bottom: 10px;
}

h6{ /*Subtitles*/
    font-size: 20px;
    margin: 20px; /* Adds some spacing below each paragraph */
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: normal;
}

h2, h3 { 
    font-size: 20px;
    margin: 20px; /* Adds some spacing below each paragraph */
    margin-bottom: 10px;

}

h4, h5, p {
    font-size: 20px;
    margin: 20px; /* Adds some spacing below each paragraph */
    margin-top: 0px;
}

p {
    line-height: 2.0; /* Adds some space between lines of text */
}